[submodule "inc/customizer/control-wcag-linkcolor"]
	url = https://gitlab.com/wplemon/control-wcag-linkcolor.git
[submodule "inc/customizer/control-wcag-textcolor"]
	url = https://gitlab.com/wplemon/control-wcag-textcolor.git
