.anchor-injected {
	opacity: 0;
	transition: all 250ms;
	text-decoration: none !important;
	border-color: transparent !important;
	box-shadow: none !important;

	&:before {
		content: "🔗";
		line-height: 1;
		font-size: .75em;
		padding: 0 1em;
	}
}

h1,
h2,
h3,
h4,
h5,
h6 {

	&:hover,
	&:active {
		.anchor-injected {
			opacity: 1;
		}
	}
}
