#offcanvas-wrapper {
    position: fixed;
    height: 100%;
    background-color: var(--bg);
    z-index: 999999;
    display: flex;
    flex-wrap: nowrap;
    align-items: flex-start;
    color: var(--cl);

    &.position-left {
        left: -1px;
    }

    &.position-right {
        right: -1px;
    }

    &:before,
    &:after {
        background: var(--cl);
        opacity: .1;
        content: " ";
        width: 1px;
        height: 100%;
        left: 0;
        position: absolute;
    }

    &:after {
        left: auto;
        right: 0;
    }
}

.toggle-gridd-plus-offcanvas-sidebar {
    background: transparent;
    box-shadow: 0;
    border-color: transparent;
    padding: .75rem;
    border-radius: 0;

    svg {
        fill: var(--cl);
        width: 1rem;
        height: 1rem;
    }

    &:hover,
    &:focus,
    &:active {
        box-shadow: none;
        border-color: transparent;
    }

    &:focus,
    &:active,
    &.toggled-on,
    &[aria-expanded=true] {
        background-color: var(--cl);

        svg {
            fill: var(--bg);
        }
    }

    &.toggled-on,
    &[aria-expanded=true] {
        +.gridd-tp-offcanvas-sidebar {
            display: flex;
        }
    }
}

.gridd-tp-offcanvas-sidebar {
    width: var(--sz);
    max-width: 100vw;
    z-index: 999999;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    display: none;
    position: relative;
    margin-left: -1px;
    flex-direction: column;
    justify-content: flex-start;

    .inner {
        padding: var(--pd);
    }

    &:before {
        background: var(--cl);
        opacity: .1;
        content: " ";
        width: 1px;
        height: 100%;
        left: 0;
        position: absolute;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        color: var(--cl);
    }

    a,
    a:hover,
    a:focus,
    a:visited {
        color: var(--cl)
    }
}