.gridd-tp-offcanvas-sidebar {
    position: fixed;
    top: 0;
    display: block;
    width: var(--ocnv-w);
    max-width: 100vw;
    padding: var(--ocnv-pd);
    background-color: var(--ocnv-bg);
    color: var(--ocnv-cl);
    z-index: 999999;
    height: 100vh;
    overflow-y: scroll;
    overflow-x: hidden;

    &.position-left {
        left: calc(0px - var(--ocnv-w));
        transition: left 200ms;
    }

    &.position-right {
        right: calc(0px - var(--ocnv-w));
        transition: right 200ms;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        color: var(--ocnv-cl);
    }

    a,
    a:hover,
    a:focus,
    a:visited {
        color: var(--ocnv-lc)
    }
}

.toggle-gridd-plus-offcanvas-sidebar {
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1000000;
    background-color: var(--ocnv-bg);
    color: var(--ocnv-cl);
    box-shadow: none;
    border: none;
    display: flex;
    border-radius: 2em;
    opacity: .7;

    svg {
        fill: var(--ocnv-cl);
    }

    &.toggled-on,
    &[aria-expanded=true] {
        opacity: 1;
        box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
        z-index: 100;

        svg {
            transform: rotate(180deg);
        }

        +.gridd-tp-offcanvas-sidebar {
            box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
        }
    }

    &.position-left {
        left: -2em;
        transition: left 200ms;
        padding: 1em .5em 1em 2em;

        &:hover,
        &:active,
        &:focus {
            left: -1.5em;
        }
    
        &.toggled-on,
        &[aria-expanded=true] {
            left: calc(var(--ocnv-w) - 1.5em);

            svg {
                transform: rotate(180deg);
            }

            +.gridd-tp-offcanvas-sidebar {
                left: 0;
            }
        }
    }

    &.position-right {
        right: -2em;
        transition: right 200ms;
        padding: 1em 2em 1em .5em;

        &:hover,
        &:active,
        &:focus {
            right: -1.5em;
        }

        svg {
            transform: rotate(180deg);
        }

        &.toggled-on,
        &[aria-expanded=true] {
            right: calc(var(--ocnv-w) - 1.5em);

            svg {
                transform: rotate(0deg);
            }

            +.gridd-tp-offcanvas-sidebar {
                right: 0;
            }
        }
    }

    &:hover,
    &:active,
    &:focus {
        box-shadow: none;
        opacity: 1;
    }
}