.site {

	a,
	a:visited {
		text-decoration: var(--gridd-links-text-decoration);

		h1,
		h2,
		h3,
		h4,
		h5,
		h6 {
			text-decoration: var(--gridd-header-links-text-decoration);
		}
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6,
	.entry-title {
		a {
			text-decoration: var(--gridd-header-links-text-decoration);
		}
	}

	.wp-block-button__link {
		text-decoration: none;
	}
}