body {
	padding-bottom: 54px;
}

.gridd-nav-handheld-btn {
	&[aria-expanded=true] {
		+#gridd-handheld-widget-area-wrapper {
			display: block;
		}
	}
}

#gridd-handheld-widget-area-wrapper {
	display: none;
	background: #fff;
	position: fixed;
	left: 0;
	bottom: 54px;
	width: 100%;
	height: auto;
	max-height: calc(100vh - 54px);
	flex-wrap: wrap;
	align-items: flex-end;
	overflow-y: scroll;
	box-shadow: 0 -10px 15px 0 rgba(0,0,0,.12);
	padding: 12px;

	&.expanded {
		display: flex;
	}
}

#gridd-handheld-widget-area-wrapper {
	.widget {
		width: 100%;
		padding: 1em;
	}
}
