// We use the "ID" (all caps) as a placeholder.
// The ID will be replaced by the actual navigation-ID via PHP
// when the style is included inline in the document.
.gridd-tp.gridd-tp-nav_ID {

	.gridd-toggle-navigation {
		&.gridd-toggle {
			padding: var(--nv-ID-ipd);
			height: var(--nv-ID-cis);
			align-items: center;

			svg {
				width: var(--nv-ID-cis);
			}
		}

		.icon {
			&.close {
				transform: translateX(calc(.01px - var(--nv-ID-cis)));
			}
		}
	}
}