// We use the "ID" (all caps) as a placeholder.
// The ID will be replaced by the actual navigation-ID via PHP
// when the style is included inline in the document.
.gridd-tp-nav_ID {
	.gridd-navigation {
		a {
			padding: calc(var(--ipd) / 1.618) var(--ipd);
		}

		.gridd-toggle {
            padding-top: var(--ipd);
            padding-bottom: var(--ipd);
		}
	}
}
