// We use the "ID" (all caps) as a placeholder.
// The ID will be replaced by the actual navigation-ID via PHP
// when the style is included inline in the document.
.gridd-tp.gridd-tp-nav_ID {

	.gridd-toggle-navigation {
		&.gridd-toggle {
			padding: var(--gridd-nav-ID-items-padding);
			height: var(--gridd-nav-ID-collapsed-icon-size);
			align-items: center;

			svg {
				width: var(--gridd-nav-ID-collapsed-icon-size);
			}
		}

		.icon {
			&.close {
				transform: translateX(calc(.01px - var(--gridd-nav-2-collapsed-icon-size)));
			}
		}
	}
}