// We use the "ID" (all caps) as a placeholder.
// The ID will be replaced by the actual nested-grid ID via PHP
// when the style is included inline in the document.
.gridd-tp-nested-grid-ID {
	background-color: var(--ns-gr-ID-bg);
	padding: var(--ns-gr-ID-pd);
	display: flex;
	justify-content: center;
	overflow: visible;
	box-shadow: var(--ns-gr-ID-bs);

	> .inner {
		width: 100%;
		max-width: var(--ns-gr-ID-mw);
	}
}
