// We use the "ID" (all caps) as a placeholder.
// The ID will be replaced by the actual nested-grid ID via PHP
// when the style is included inline in the document.
.gridd-tp-nested-grid-ID.gridd-tp {
	> .inner {
		display:-ms-grid;
		display: grid;
		grid-gap: var(--ns-gr-ID-gg);
	}
}
