// CSS for this implementation is a slightly tweaked version of https://codepen.io/rolandtoth/pen/eMamVK/

.scrolltop-wrap {
	box-sizing: border-box;
	position: fixed;
	bottom: -2em;
	right: 2em;
	transition: all 200ms;

	.gridd-scroll-to-top & {
		bottom: 0;
	}

	body.rtl & {
		right: auto;
		left: 2em;
	}

	a {
		display: flex;
		justify-content: center;
		width: 2em;
		height: 2em;
		line-height: 1.2;
		background: var(--lc);
		color: var(--bg);
		text-decoration: none;
		transform: rotate(180deg);
		border-radius: 0 0 4px 4px;

		&:hover {
			background: var(--cl);
			text-decoration: none;
		}
	}

	@media print {
		display: none !important;
	}
}
